<!DOCTYPE html>
<!-- AS PER THE DOCUMENTATION WE CREATED THE VIEWS FOLDER -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <title>ToDo List</title>
</head>

<body>
