<!DOCTYPE html>
<!-- AS PER THE DOCUMENTATION WE CREATED THE VIEWS FOLDER -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
</head>

<body>

if(kindOfDay ==="Saturday" || kindOfDay === "Sunday"){
    <!-- we will change the colour of the header if day is saturday or sunday -->
  <h1 style="color:purple"><%= kindOfDay %> Todo List </h1>
  }
  else{
  <!-- We want our header to display the time  -->
  <!-- we have followed the markdown format for ejs -->
  <h1><%= kindOfDay %> Todo List </h1>
}
</body>

</html>
