<!DOCTYPE html>
<!-- AS PER THE DOCUMENTATION WE CREATED THE VIEWS FOLDER -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
</head>

<body>

  <h1><%= kindOfDay %> Todo List </h1>
<ul>
  <li>eat</li>
  <li>sleep</li>
  <li>code</li>
  <li><%=newListItem%></li>
  <!-- but we need to add notes in bullets so we have to add a for loop -->
</ul>
<!-- We need to add form and then the input we give must be posted on the server -->
<form class="" action="/" method="post">
  <input type="text" name="newItem">
  <button type="submit" name="button"> Add</button>
</form>
<!-- So we've now passed the data from our web page to our server but we now need to pass the data back into
our web page namely into a new list item inside the ul. So we can start doing that by creating a new
list item and its content is going to be a EJS tag that is going to render a newList item. -->







</body>

</html>
