<!DOCTYPE html>
<!-- AS PER THE DOCUMENTATION WE CREATED THE VIEWS FOLDER -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">

  <title>ToDo List</title>
</head>

<body>
  <div class="box" id="heading">
    <!-- adding class and id as per our css-->
    <h1><%= listTitle %> Todo List </h1>
  </div>
  <div class="box">
    <% for(var i=0; i <newListItems.length; i++){ %>
    <div class="item">
      <input type="checkbox" name="" value="">
      <p> <%= newListItems[i] %> </p>
    </div>
    <% } %>
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="new item" autocomplete="off"> <!-- to remove the auto sugegstion we put auto complete to off-->
      <button type="submit" name="button">+</button>
    </form>
  </div>






</body>

</html>
