<!DOCTYPE html>
<!-- AS PER THE DOCUMENTATION WE CREATED THE VIEWS FOLDER -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
</head>

<body>

  <h1><%= kindOfDay %> Todo List </h1>
<ul>
  <li>eat</li>
  <li>sleep</li>
  <li>code</li>
</ul>
<!-- We need to add form and then the input we give must be posted on the server -->
<form class="" action="/" method="post">
  <input type="text" name="newItem">
  <button type="submit" name="button"> Add</button>
</form>








</body>

</html>
