<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
  </head>
  <body>
    <!-- We want our header to display the time  -->
<h1></h1>
  </body>
</html>
